# piece-verification

> 标签: checksum, piece, sha1, stream

## 简介

A through stream that verifies data against a set of SHA1 pieces.

## 官网

- 官网：https://github.com/michaelrhodes/piece-verification
- 源码仓库：git@github.com:michaelrhodes/piece-verification.git
- npm 页面：https://www.npmjs.com/package/piece-verification

## 历史版本号

- 当前版本：0.0.1

- 0.0.1

## 获取地址

- npm 安装：`npm install piece-verification`
- npm registry：https://registry.npmjs.org/piece-verification
