# @gait-as/verification

> 标签: JavaScript

## 简介

Authorization - OTP by email and sms

## 官网

- 官网：https://bitbucket.org/gait-as/auth#readme
- 源码仓库：git+https://dennishagstrom@bitbucket.org/gait-as/auth.git
- npm 页面：https://www.npmjs.com/package/@gait-as/verification

## 历史版本号

- 当前版本：1.2.16

- 1.2.13
- 1.2.14
- 1.2.15
- 1.2.16
- 1.2.2
- 1.2.3
- 1.2.4
- 1.2.5
- 1.2.6
- 1.2.7
- 1.2.8
- 1.2.9

## 获取地址

- npm 安装：`npm install @gait-as/verification`
- npm registry：https://registry.npmjs.org/@gait-as/verification
