# rawb-google-verification

> 标签: googleconsole, koa

## 简介

Middleware for koa to add an endpoint for google to autheticate their console

## 官网

- 官网：https://github.com/24hr-malmo/rawb-google-verification#readme
- 源码仓库：git+https://github.com/24hr-malmo/rawb-google-verification.git
- npm 页面：https://www.npmjs.com/package/rawb-google-verification

## 历史版本号

- 当前版本：1.0.0

- 1.0.0

## 获取地址

- npm 安装：`npm install rawb-google-verification`
- npm registry：https://registry.npmjs.org/rawb-google-verification
