# react-native-phone-verification

> 标签: android, auth, authentication, authenticator, authy, code, crocodile, digits, duo, fabric, factor, google, ios, mobile, native, phone, pin, prove, react, react-native, security, tfa, twilio, twitter, twitter-digits, two, two-factor, verification, verify

## 简介

The best React Native example for phone verification

## 官网

- 官网：https://github.com/niftylettuce/react-native-phone-verification
- 源码仓库：git+https://github.com/niftylettuce/react-native-phone-verification.git
- npm 页面：https://www.npmjs.com/package/react-native-phone-verification

## 历史版本号

- 当前版本：0.0.1

- 0.0.1

## 获取地址

- npm 安装：`npm install react-native-phone-verification`
- npm registry：https://registry.npmjs.org/react-native-phone-verification
