# express-middleware-verification

> 标签: JavaScript

## 简介

This library provides a simple middleware for Express.js applications to filter and ignore specific fields and values from the response data.

## 官网

- 官网：https://github.com/bezerra-lucas/express-middleware-verification#readme
- 源码仓库：git+https://github.com/bezerra-lucas/express-middleware-verification.git
- npm 页面：https://www.npmjs.com/package/express-middleware-verification

## 历史版本号

- 当前版本：1.0.4

- 1.0.0
- 1.0.1
- 1.0.2
- 1.0.3
- 1.0.4

## 获取地址

- npm 安装：`npm install express-middleware-verification`
- npm registry：https://registry.npmjs.org/express-middleware-verification
