# react-native-kyc-verification

> 标签: identification, kyc, manual, verification

## 简介

This package contains manual kyc steps

## 官网

- npm 页面：https://www.npmjs.com/package/react-native-kyc-verification

## 历史版本号

- 当前版本：1.0.4

- 1.0.0
- 1.0.1
- 1.0.2
- 1.0.4

## 获取地址

- npm 安装：`npm install react-native-kyc-verification`
- npm registry：https://registry.npmjs.org/react-native-kyc-verification
