# verification

> 标签: code, validate

## 简介

validate code for node.

## 官网

- 源码仓库：git://github.com/brighthas/validate-code.git
- npm 页面：https://www.npmjs.com/package/verification

## 历史版本号

- 当前版本：0.0.0

- 0.0.0

## 获取地址

- npm 安装：`npm install verification`
- npm registry：https://registry.npmjs.org/verification
