# zpm-verification

> 标签: 点选文字验证

## 简介

点选文字验证

## 官网

- npm 页面：https://www.npmjs.com/package/zpm-verification

## 历史版本号

- 当前版本：1.0.2

- 1.0.0
- 1.0.1
- 1.0.2

## 获取地址

- npm 安装：`npm install zpm-verification`
- npm registry：https://registry.npmjs.org/zpm-verification
