# facility-qa-log

> 标签: JavaScript

## 简介

This library was generated with [Angular CLI](https://github.com/angular/angular-cli) version 7.2.0.

## 官网

- npm 页面：https://www.npmjs.com/package/facility-qa-log

## 历史版本号

- 当前版本：2.3.6

- 0.0.1
- 1.0.0
- 2.0.0
- 2.1.0
- 2.2.0
- 2.3.0
- 2.3.1
- 2.3.2
- 2.3.3
- 2.3.4
- 2.3.5
- 2.3.6

## 获取地址

- npm 安装：`npm install facility-qa-log`
- npm registry：https://registry.npmjs.org/facility-qa-log
