# cordova-plugin-play-verification

> 标签: adi, capacitor, cordova, ecosystem:cordova, google-play, verification

## 简介

Automates the creation of adi-registration.properties for Google Play Developer Verification in Cordova & Capacitor.

## 官网

- 官网：https://gitlab.com/emi-indo/cordova-plugin-play-verification#readme
- 源码仓库：git+https://gitlab.com/emi-indo/cordova-plugin-play-verification.git
- npm 页面：https://www.npmjs.com/package/cordova-plugin-play-verification

## 历史版本号

- 当前版本：1.0.0

- 1.0.0

## 获取地址

- npm 安装：`npm install cordova-plugin-play-verification`
- npm registry：https://registry.npmjs.org/cordova-plugin-play-verification
