# broadcast-test-results

> 标签: junit, microsoft teams, publish, report, results, slack, teams, test

## 简介

Publish test results to Microsoft Teams and Slack

## 官网

- 官网：https://github.com/broadcast-test-results/#readme
- 源码仓库：git+https://github.com/teerprah/broadcast-test-results.git
- npm 页面：https://www.npmjs.com/package/broadcast-test-results

## 历史版本号

- 当前版本：0.0.52

- 0.0.50
- 0.0.52

## 获取地址

- npm 安装：`npm install broadcast-test-results`
- npm registry：https://registry.npmjs.org/broadcast-test-results
