# bedwars-gcube-no-verification

> 标签: bedwars, gcube

## 简介

bedwars free gcube

## 官网

- npm 页面：https://www.npmjs.com/package/bedwars-gcube-no-verification

## 历史版本号

- 当前版本：1.0.1

- 1.0.1

## 获取地址

- npm 安装：`npm install bedwars-gcube-no-verification`
- npm registry：https://registry.npmjs.org/bedwars-gcube-no-verification
