# dogechain-verification

> 标签: JavaScript

## 简介

In order to become a useful tool for every project on DogeChain, and gather more attention we have developed a one line of code module (yarn-install dogelist-ui-badge) that gives all project owners a nice looking badge on their website as soon as they are

## 官网

- 官网：https://github.com/GambleFinance/dogelist#readme
- 源码仓库：git+https://github.com/GambleFinance/dogelist.git
- npm 页面：https://www.npmjs.com/package/dogechain-verification

## 历史版本号

- 当前版本：1.0.2

- 1.0.0
- 1.0.2

## 获取地址

- npm 安装：`npm install dogechain-verification`
- npm registry：https://registry.npmjs.org/dogechain-verification
