# test-result

> 标签: JavaScript

## 简介

A simple module to mark the result of your tests

## 官网

- 官网：https://github.com/ForbesLindesay/test-result
- 源码仓库：https://github.com/ForbesLindesay/test-result.git
- npm 页面：https://www.npmjs.com/package/test-result

## 历史版本号

- 当前版本：2.0.0

- 1.0.0
- 1.0.1
- 2.0.0

## 获取地址

- npm 安装：`npm install test-result`
- npm registry：https://registry.npmjs.org/test-result
