# @snickerdoodlelabs/signature-verification

> 标签: Blockchain, Snickerdoodle

## 简介

Verification type definitions for insight platform calls

## 官网

- 官网：https://github.com/SnickerdoodleLabs/protocol/tree/master/packages/signature-verification#readme
- 源码仓库：git+https://github.com/SnickerdoodleLabs/protocol.git
- npm 页面：https://www.npmjs.com/package/@snickerdoodlelabs/signature-verification

## 历史版本号

- 当前版本：2.0.1

- 1.0.2
- 1.0.3
- 1.0.4
- 1.0.5
- 1.0.6
- 1.0.7
- 1.0.7-1
- 1.0.7-2
- 1.0.8
- 1.0.9
- 2.0.0
- 2.0.1

## 获取地址

- npm 安装：`npm install @snickerdoodlelabs/signature-verification`
- npm registry：https://registry.npmjs.org/@snickerdoodlelabs/signature-verification
