# address-ownership-verification

> 标签: truffle

## 简介

Ethereum address ownership verification

## 官网

- 官网：https://github.com/smoove/AddressOwnershipVerification#readme
- 源码仓库：git+https://github.com/smoove/AddressOwnershipVerification.git
- npm 页面：https://www.npmjs.com/package/address-ownership-verification

## 历史版本号

- 当前版本：0.0.1

- 0.0.1

## 获取地址

- npm 安装：`npm install address-ownership-verification`
- npm registry：https://registry.npmjs.org/address-ownership-verification
