# regular-verification

> 标签: js reqular, regular, regular-verification

## 简介

A js regular expression verification library

## 官网

- 官网：https://github.com/ktb1207/regular-verification#README
- 源码仓库：git+https://github.com/ktb1207/regular-verification.git
- npm 页面：https://www.npmjs.com/package/regular-verification

## 历史版本号

- 当前版本：1.0.2

- 1.0.0
- 1.0.1
- 1.0.2

## 获取地址

- npm 安装：`npm install regular-verification`
- npm registry：https://registry.npmjs.org/regular-verification
