# @blusalt-sdk/react-native-blusalt-document-verification

> 标签: android, ios, react-native

## 简介

Document Verification SDK for Android and IOS

## 官网

- 官网：https://github.com/Blusalt-FS/react-native-blusalt-document-verification.git#readme
- 源码仓库：git+https://github.com/Blusalt-FS/react-native-blusalt-document-verification.git.git
- npm 页面：https://www.npmjs.com/package/@blusalt-sdk/react-native-blusalt-document-verification

## 历史版本号

- 当前版本：0.1.1

- 0.1.0
- 0.1.1

## 获取地址

- npm 安装：`npm install @blusalt-sdk/react-native-blusalt-document-verification`
- npm registry：https://registry.npmjs.org/@blusalt-sdk/react-native-blusalt-document-verification
