# react-native-react-native-code-verification

> 标签: react-native

## 简介

Nice view for pincode checker with num keypad

## 官网

- npm 页面：https://www.npmjs.com/package/react-native-react-native-code-verification

## 历史版本号

- 当前版本：1.0.0

- 1.0.0

## 获取地址

- npm 安装：`npm install react-native-react-native-code-verification`
- npm registry：https://registry.npmjs.org/react-native-react-native-code-verification
