# @conform-ed/credential-verification

> 标签: JavaScript

## 简介

@conform-ed/credential-verification - JavaScript library from npm

## 官网

- 源码仓库：git+https://github.com/conform-ed/conform-ed.git
- npm 页面：https://www.npmjs.com/package/@conform-ed/credential-verification

## 历史版本号

- 当前版本：0.1.5

- 0.1.5

## 获取地址

- npm 安装：`npm install @conform-ed/credential-verification`
- npm registry：https://registry.npmjs.org/@conform-ed/credential-verification
