# @vonage/network-number-verification

> 标签: JavaScript

## 简介

Number Verfication for GNP

## 官网

- 官网：https://github.com/vonage/vonage-node-sdk/tree/main/packages/network-number-verification#readme
- 源码仓库：git+https://github.com/Vonage/vonage-node-sdk.git
- npm 页面：https://www.npmjs.com/package/@vonage/network-number-verification

## 历史版本号

- 当前版本：1.9.1

- 1.5.0-alpha.1
- 1.5.0-alpha.2
- 1.5.0-alpha.3
- 1.5.1
- 1.5.2
- 1.5.3
- 1.5.4
- 1.5.5-0
- 1.6.0
- 1.8.0
- 1.9.0
- 1.9.1

## 获取地址

- npm 安装：`npm install @vonage/network-number-verification`
- npm registry：https://registry.npmjs.org/@vonage/network-number-verification
- Node 要求：>=22
