# data-qa-report

> 标签: data-qa

## 简介

Build a report on the use or not use of the data-qa attributes in the code

## 官网

- 官网：https://github.com/j-d-carmichael/data-qa-report#readme
- 源码仓库：git+https://github.com/j-d-carmichael/data-qa-report.git
- npm 页面：https://www.npmjs.com/package/data-qa-report

## 历史版本号

- 当前版本：0.0.6

- 0.0.1
- 0.0.2
- 0.0.3
- 0.0.4
- 0.0.5
- 0.0.6

## 获取地址

- npm 安装：`npm install data-qa-report`
- npm registry：https://registry.npmjs.org/data-qa-report
