# @ranedrop/verification

> 标签: JavaScript

## 简介

A collection of functions for checking values and structures

## 官网

- 官网：https://github.com/ranedrop/verification#readme
- 源码仓库：git+ssh://git@github.com/ranedrop/verification.git
- npm 页面：https://www.npmjs.com/package/@ranedrop/verification

## 历史版本号

- 当前版本：1.0.2

- 1.0.0
- 1.0.1
- 1.0.2

## 获取地址

- npm 安装：`npm install @ranedrop/verification`
- npm registry：https://registry.npmjs.org/@ranedrop/verification
