# @avendure/vendure-plugin-seller-verification

> 标签: JavaScript

## 简介

Vendure plugin to allow SuperAdmin to enable/disable sellers from posting items to the marketplace.

## 官网

- 官网：https://github.com/avendure/VendurePlugin-seller-verification#readme
- 源码仓库：git+https://github.com/avendure/VendurePlugin-seller-verification.git
- npm 页面：https://www.npmjs.com/package/@avendure/vendure-plugin-seller-verification

## 历史版本号

- 当前版本：1.0.15

- 1.0.12
- 1.0.13
- 1.0.14
- 1.0.15
- 1.0.2
- 1.0.3
- 1.0.4
- 1.0.5
- 1.0.6
- 1.0.7
- 1.0.8
- 1.0.9

## 获取地址

- npm 安装：`npm install @avendure/vendure-plugin-seller-verification`
- npm registry：https://registry.npmjs.org/@avendure/vendure-plugin-seller-verification
- Node 要求：>=16.0.0
