# @therms/www-public-email-verification

> 标签: JavaScript

## 简介

The THERMS Email Verification webapp

## 官网

- npm 页面：https://www.npmjs.com/package/@therms/www-public-email-verification

## 历史版本号

- 当前版本：1.2.2

- 1.0.0
- 1.0.1
- 1.0.2
- 1.0.3
- 1.1.0
- 1.2.0
- 1.2.1
- 1.2.2

## 获取地址

- npm 安装：`npm install @therms/www-public-email-verification`
- npm registry：https://registry.npmjs.org/@therms/www-public-email-verification
