# simple-verification

> 标签: typescript, verification

## 简介

简易版本表单项校验工具类

## 官网

- 官网：https://github.com/sufangyu/simple-verification#readme
- 源码仓库：git+ssh://git@github.com/sufangyu/simple-verification.git
- npm 页面：https://www.npmjs.com/package/simple-verification

## 历史版本号

- 当前版本：1.1.1

- 1.0.0
- 1.1.0
- 1.1.1

## 获取地址

- npm 安装：`npm install simple-verification`
- npm registry：https://registry.npmjs.org/simple-verification
