# mobile-verification

> 标签: JavaScript

## 简介

Mobile Verification module which takes mobile number and triggers OTP based verification process. Designed to be lightweight and load quickly.

## 官网

- 官网：https://github.com/inside-matrix/mobile-verification#readme
- 源码仓库：git+https://github.com/inside-matrix/mobile-verification.git
- npm 页面：https://www.npmjs.com/package/mobile-verification

## 历史版本号

- 当前版本：1.0.0

- 1.0.0

## 获取地址

- npm 安装：`npm install mobile-verification`
- npm registry：https://registry.npmjs.org/mobile-verification
