# fbl-k8s-installation-verification

> 标签: JavaScript

## 简介

### Configuration

## 官网

- npm 页面：https://www.npmjs.com/package/fbl-k8s-installation-verification

## 历史版本号

- 当前版本：1.0.2

- 1.0.1
- 1.0.2

## 获取地址

- npm 安装：`npm install fbl-k8s-installation-verification`
- npm registry：https://registry.npmjs.org/fbl-k8s-installation-verification
