# @dfinity/certificate-verification

> 标签: certificate, dfinity, icp, internet-computer, verification

## 简介

Client side certificate verification for the Internet Computer

## 官网

- 官网：https://github.com/dfinity/response-verification#readme
- 源码仓库：git+https://github.com/dfinity/response-verification.git
- npm 页面：https://www.npmjs.com/package/@dfinity/certificate-verification

## 历史版本号

- 当前版本：4.0.0

- 2.1.0
- 2.2.0
- 2.3.0
- 2.4.0
- 2.6.0
- 3.0.0
- 3.0.1
- 3.0.2
- 3.0.3
- 3.1.0
- 3.2.0
- 4.0.0

## 获取地址

- npm 安装：`npm install @dfinity/certificate-verification`
- npm registry：https://registry.npmjs.org/@dfinity/certificate-verification
