# @everymatrix/kyc-verification

> 标签: JavaScript

## 简介

@everymatrix/kyc-verification - JavaScript library from npm

## 官网

- npm 页面：https://www.npmjs.com/package/@everymatrix/kyc-verification

## 历史版本号

- 当前版本：1.15.5

- 1.13.7
- 1.13.8
- 1.13.9
- 1.15.0
- 1.15.5

## 获取地址

- npm 安装：`npm install @everymatrix/kyc-verification`
- npm registry：https://registry.npmjs.org/@everymatrix/kyc-verification
