# local-email-verification

> 标签: auth, authentication, email, mongodb

## 简介

Verify email sign-up using MongoDB.

## 官网

- 官网：https://github.com/whitef0x0/node-email-verification
- 源码仓库：git+https://github.com/melkir/node-email-verification.git
- npm 页面：https://www.npmjs.com/package/local-email-verification

## 历史版本号

- 当前版本：0.4.3

- 0.1.0
- 0.4.2
- 0.4.3

## 获取地址

- npm 安装：`npm install local-email-verification`
- npm registry：https://registry.npmjs.org/local-email-verification
