# simple-slack-verification

> 标签: authorization, express, middleware, signing, slack, verification

## 简介

Simple express middleware for Slack signed secret authentication

## 官网

- 官网：https://github.com/AxlLind/simple-slack-verification#readme
- 源码仓库：git+https://github.com/AxlLind/simple-slack-verification.git
- npm 页面：https://www.npmjs.com/package/simple-slack-verification

## 历史版本号

- 当前版本：1.1.0

- 0.0.5
- 1.0.0
- 1.1.0

## 获取地址

- npm 安装：`npm install simple-slack-verification`
- npm registry：https://registry.npmjs.org/simple-slack-verification
