# @presend/verification

> 标签: JavaScript

## 简介

NPM module to easily intergrate Presend feature to your code

## 官网

- npm 页面：https://www.npmjs.com/package/@presend/verification

## 历史版本号

- 当前版本：3.0.1

- 2.0.0
- 2.0.1
- 2.0.2
- 3.0.0
- 3.0.1

## 获取地址

- npm 安装：`npm install @presend/verification`
- npm registry：https://registry.npmjs.org/@presend/verification
