# google-play-license-verification

> 标签: android, google, license, market, play, verification

## 简介

Google play (android market) license verification.

## 官网

- 源码仓库：git://github.com/masterprize/nodejs-google-play-license-verification.git
- npm 页面：https://www.npmjs.com/package/google-play-license-verification

## 历史版本号

- 当前版本：0.0.1

- 0.0.1

## 获取地址

- npm 安装：`npm install google-play-license-verification`
- npm registry：https://registry.npmjs.org/google-play-license-verification
