# card-verification

> 标签: Canada Postal Validation, Canada Zip Validation, Extract Postal, Extract Zip Code, US Zip Validation, card validation, cvv validation, validate payment card, verify card

## 简介

Card verification - verify card number, verify card cvv, clean card number, authenticate card make

## 官网

- 官网：https://bitbucket.org/sypachev_s_s/card-validation#readme
- 源码仓库：git+https://bitbucket.org/sypachev_s_s/card-validation.git
- npm 页面：https://www.npmjs.com/package/card-verification

## 历史版本号

- 当前版本：1.0.9

- 1.0.0
- 1.0.1
- 1.0.2
- 1.0.3
- 1.0.4
- 1.0.5
- 1.0.6
- 1.0.7
- 1.0.8
- 1.0.9

## 获取地址

- npm 安装：`npm install card-verification`
- npm registry：https://registry.npmjs.org/card-verification
