# sinch-verification

> 标签: SDK, Sinch, Verification, browserify

## 简介

Verify mobile numbers using Sinch Verification

## 官网

- npm 页面：https://www.npmjs.com/package/sinch-verification

## 历史版本号

- 当前版本：0.0.6

- 0.0.1
- 0.0.2
- 0.0.3
- 0.0.4
- 0.0.5
- 0.0.6

## 获取地址

- npm 安装：`npm install sinch-verification`
- npm registry：https://registry.npmjs.org/sinch-verification
