# rtc-signaller-testrun

> 标签: rtc.io, signalling, webrtc

## 简介

A suite of tests that will test how well a custom signaller supports the requirements of rtc-quickconnect and rtc-tools

## 官网

- 官网：https://github.com/rtc-io/rtc-signaller-testrun
- 源码仓库：https://github.com/rtc-io/rtc-signaller-testrun.git
- npm 页面：https://www.npmjs.com/package/rtc-signaller-testrun

## 历史版本号

- 当前版本：1.2.2

- 1.0.0
- 1.1.0
- 1.2.0
- 1.2.1
- 1.2.2

## 获取地址

- npm 安装：`npm install rtc-signaller-testrun`
- npm registry：https://registry.npmjs.org/rtc-signaller-testrun
