# password-strength-verification

> 标签: JavaScript

## 简介

password strength verification funciton

## 官网

- 官网：https://github.com/wildcn/password-strength-verification#readme
- 源码仓库：git+https://github.com/wildcn/password-strength-verification.git
- npm 页面：https://www.npmjs.com/package/password-strength-verification

## 历史版本号

- 当前版本：0.0.6

- 0.0.1
- 0.0.2
- 0.0.3
- 0.0.4
- 0.0.5
- 0.0.6

## 获取地址

- npm 安装：`npm install password-strength-verification`
- npm registry：https://registry.npmjs.org/password-strength-verification
