# cypress-test-results

> 标签: action, cypress, cypress-io, cypress-plugin, github-actions

## 简介

This is repository to retrieve cypress test results summary after execution in github action

## 官网

- 官网：https://github.com/nhantrantrong/cypress-test-results#readme
- 源码仓库：git+https://github.com/nhantrantrong/cypress-test-results.git
- npm 页面：https://www.npmjs.com/package/cypress-test-results

## 历史版本号

- 当前版本：1.2.1

- 1.0.0
- 1.1.0
- 1.2.0
- 1.2.1

## 获取地址

- npm 安装：`npm install cypress-test-results`
- npm registry：https://registry.npmjs.org/cypress-test-results
