# @everymatrix/prod-mm-verification-report

> 标签: JavaScript

## 简介

@everymatrix/prod-mm-verification-report - JavaScript library from npm

## 官网

- npm 页面：https://www.npmjs.com/package/@everymatrix/prod-mm-verification-report

## 历史版本号

- 当前版本：1.1.46

- 1.0.46
- 1.1.2
- 1.1.32
- 1.1.33
- 1.1.34
- 1.1.36
- 1.1.38
- 1.1.40
- 1.1.41
- 1.1.44
- 1.1.45
- 1.1.46

## 获取地址

- npm 安装：`npm install @everymatrix/prod-mm-verification-report`
- npm registry：https://registry.npmjs.org/@everymatrix/prod-mm-verification-report
