# react-native-meon-face-verification

> 标签: biometric, face-recognition, face-verification, ipv, meon, react-native

## 简介

Face Verification SDK for React Native with IPV support

## 官网

- 官网：https://github.com/devDhananjay/react-native-meon-face-verification#readme
- 源码仓库：git+https://github.com/devDhananjay/react-native-meon-face-verification.git
- npm 页面：https://www.npmjs.com/package/react-native-meon-face-verification

## 历史版本号

- 当前版本：1.0.2

- 1.0.0
- 1.0.1
- 1.0.2

## 获取地址

- npm 安装：`npm install react-native-meon-face-verification`
- npm registry：https://registry.npmjs.org/react-native-meon-face-verification
