# xt-verification

> 标签: JavaScript

## 简介

验签工具

## 官网

- npm 页面：https://www.npmjs.com/package/xt-verification

## 历史版本号

- 当前版本：0.0.7

- 0.0.2
- 0.0.3
- 0.0.4
- 0.0.5
- 0.0.6
- 0.0.7

## 获取地址

- npm 安装：`npm install xt-verification`
- npm registry：https://registry.npmjs.org/xt-verification
