# domain-verification

> 标签: html, meta, metadata, open graph, parser, tags, txt

## 简介

This module help you to verify domain ownership.

## 官网

- 官网：https://github.com/SpringRole/domain-verification#readme
- 源码仓库：git+https://github.com/SpringRole/domain-verification.git
- npm 页面：https://www.npmjs.com/package/domain-verification

## 历史版本号

- 当前版本：1.0.5

- 1.0.0
- 1.0.1
- 1.0.2
- 1.0.3
- 1.0.4
- 1.0.5

## 获取地址

- npm 安装：`npm install domain-verification`
- npm registry：https://registry.npmjs.org/domain-verification
