# amtixdev-captcha-verification

> 标签: AmtiXDev, Captcha, Captcha-Verification, Verification

## 简介

A simple npm package for generating and verifying captcha codes with numbers for Discord bots.

## 官网

- 官网：https://github.com/AmtixDev/amtixdev-captcha-verification#readme
- 源码仓库：git+https://github.com/AmtixDev/amtixdev-captcha-verification.git
- npm 页面：https://www.npmjs.com/package/amtixdev-captcha-verification

## 历史版本号

- 当前版本：1.0.0-beta

- 1.0.0-beta

## 获取地址

- npm 安装：`npm install amtixdev-captcha-verification`
- npm registry：https://registry.npmjs.org/amtixdev-captcha-verification
