# react-fields-verification

> 标签: react-component

## 简介

react-fields-verification React component

## 官网

- npm 页面：https://www.npmjs.com/package/react-fields-verification

## 历史版本号

- 当前版本：0.0.1

- 0.0.1
- 1.0.0

## 获取地址

- npm 安装：`npm install react-fields-verification`
- npm registry：https://registry.npmjs.org/react-fields-verification
