# general-verification

> 标签: verification

## 简介

优化域名校验

## 官网

- npm 页面：https://www.npmjs.com/package/general-verification

## 历史版本号

- 当前版本：1.2.30

- 1.2.27
- 1.2.27-test
- 1.2.28-beta
- 1.2.29
- 1.2.3
- 1.2.30
- 1.2.4
- 1.2.5
- 1.2.6
- 1.2.7
- 1.2.8
- 1.2.9

## 获取地址

- npm 安装：`npm install general-verification`
- npm registry：https://registry.npmjs.org/general-verification
