# @hellocoop/email-verification

> 标签: email-verification, hello, jwt, protocol, sd-jwt, typescript, verified-email

## 简介

Functions for generating and verifying JWT tokens used in the Email Verification Protocol

## 官网

- 官网：https://github.com/dickhardt/email-verification-protocol
- 源码仓库：git+https://github.com/hellocoop/packages-js.git
- npm 页面：https://www.npmjs.com/package/@hellocoop/email-verification

## 历史版本号

- 当前版本：3.1.0

- 1.0.2
- 2.0.1
- 2.0.2
- 2.0.4
- 2.0.6
- 2.1.0
- 2.1.1
- 2.2.0
- 2.2.1
- 3.0.0
- 3.0.1
- 3.1.0

## 获取地址

- npm 安装：`npm install @hellocoop/email-verification`
- npm registry：https://registry.npmjs.org/@hellocoop/email-verification
- Node 要求：>=20
