# twilio-phone-verification

> 标签: nodejs, phone, twilio, verification

## 简介

twilio phone verification

## 官网

- 官网：https://github.com/gidkom/twilio-phone-verification#readme
- 源码仓库：git+https://github.com/gidkom/twilio-phone-verification.git
- npm 页面：https://www.npmjs.com/package/twilio-phone-verification

## 历史版本号

- 当前版本：1.0.11

- 0.0.1
- 0.0.2
- 1.0.0
- 1.0.1
- 1.0.11

## 获取地址

- npm 安装：`npm install twilio-phone-verification`
- npm registry：https://registry.npmjs.org/twilio-phone-verification
