# @findonflow/flowverse-verification

> 标签: cadence, flowverse

## 简介

Cadence transactions and scripts to work with flowverse verification platform

## 官网

- 官网：https://github.com/findonflow/Flowverse-NFT-whitelist-contract#readme
- 源码仓库：git+https://github.com/findonflow/Flowverse-NFT-whitelist-contract.git
- npm 页面：https://www.npmjs.com/package/@findonflow/flowverse-verification

## 历史版本号

- 当前版本：0.1.3

- 0.0.1
- 0.0.2
- 0.0.3
- 0.0.4
- 0.0.5
- 0.1.0
- 0.1.1
- 0.1.2
- 0.1.3

## 获取地址

- npm 安装：`npm install @findonflow/flowverse-verification`
- npm registry：https://registry.npmjs.org/@findonflow/flowverse-verification
