# shopify-application-proxy-verification

> 标签: application, hmac, proxy, shopify, verification, verifier

## 简介

Simple function to verify Shopify Application Proxy requests using HMAC

## 官网

- 官网：https://github.com/dkershner6/shopify-application-proxy-verification#readme
- 源码仓库：git+https://github.com/dkershner6/shopify-application-proxy-verification.git
- npm 页面：https://www.npmjs.com/package/shopify-application-proxy-verification

## 历史版本号

- 当前版本：1.1.4

- 1.0.0
- 1.1.0
- 1.1.1
- 1.1.2
- 1.1.3
- 1.1.4

## 获取地址

- npm 安装：`npm install shopify-application-proxy-verification`
- npm registry：https://registry.npmjs.org/shopify-application-proxy-verification
