# md-links-verification

> 标签: development, javascript, markdown, node, test

## 简介

library in javascript to check links of markdown files

## 官网

- 官网：https://github.com/natichan/scl-2018-01-FE-markdown#readme
- 源码仓库：git+https://github.com/natichan/scl-2018-01-FE-markdown.git
- npm 页面：https://www.npmjs.com/package/md-links-verification

## 历史版本号

- 当前版本：1.0.5

- 1.0.0
- 1.0.1
- 1.0.2
- 1.0.3
- 1.0.4
- 1.0.5

## 获取地址

- npm 安装：`npm install md-links-verification`
- npm registry：https://registry.npmjs.org/md-links-verification
