# @noomorph/test-result

> 标签: JavaScript

## 简介

@noomorph/test-result - JavaScript library from npm

## 官网

- 官网：https://github.com/facebook/jest#readme
- 源码仓库：git+https://github.com/facebook/jest.git
- npm 页面：https://www.npmjs.com/package/@noomorph/test-result

## 历史版本号

- 当前版本：24.9.0

- 24.9.0

## 获取地址

- npm 安装：`npm install @noomorph/test-result`
- npm registry：https://registry.npmjs.org/@noomorph/test-result
- Node 要求：>= 8.3
