# @validatem/validation-result

> 标签: JavaScript

## 简介

Utility for creating a 'validation result', ie. an object that represents zero or more errors and an optional result value

## 官网

- 源码仓库：http://git.cryto.net/validatem/validation-result.git
- npm 页面：https://www.npmjs.com/package/@validatem/validation-result

## 历史版本号

- 当前版本：0.1.2

- 0.1.0
- 0.1.1
- 0.1.2

## 获取地址

- npm 安装：`npm install @validatem/validation-result`
- npm registry：https://registry.npmjs.org/@validatem/validation-result
