# og-fe-tee-verification

> 标签: blob, frontend, sui, walrus

## 简介

Frontend-friendly Walrus blob client for the Sui Core aggregator and Tee verification for OpenGradient

## 官网

- 官网：https://github.com/OpenGradient/inference-facilitator#readme
- 源码仓库：git+https://github.com/OpenGradient/inference-facilitator.git
- npm 页面：https://www.npmjs.com/package/og-fe-tee-verification

## 历史版本号

- 当前版本：0.0.3

- 0.0.1
- 0.0.2
- 0.0.3

## 获取地址

- npm 安装：`npm install og-fe-tee-verification`
- npm registry：https://registry.npmjs.org/og-fe-tee-verification
