# cordova-plugin-otp-auto-verification

> 标签: cordova-android, ecosystem:cordova

## 简介

A plugin for Autoverification of OTP

## 官网

- 官网：https://github.com/sandeepdillerao/cordova-plugin-otp-auto-verification#readme
- 源码仓库：git+https://github.com/sandeepdillerao/cordova-plugin-otp-auto-verification.git
- npm 页面：https://www.npmjs.com/package/cordova-plugin-otp-auto-verification

## 历史版本号

- 当前版本：1.0.2

- 0.0.2
- 0.0.3
- 0.0.4
- 1.0.0
- 1.0.1
- 1.0.2

## 获取地址

- npm 安装：`npm install cordova-plugin-otp-auto-verification`
- npm registry：https://registry.npmjs.org/cordova-plugin-otp-auto-verification
