# vc-verification

> 标签: vc-verification

## 简介

This library was generated with [Angular CLI](https://github.com/angular/angular-cli) version 10.2.4.

## 官网

- 官网：https://github.com/Sunbird/vc-verification#readme
- 源码仓库：git+https://github.com/Sunbird-RC/vc-verification.git
- npm 页面：https://www.npmjs.com/package/vc-verification

## 历史版本号

- 当前版本：0.0.15

- 0.0.11
- 0.0.12
- 0.0.13
- 0.0.15
- 0.0.2
- 0.0.3
- 0.0.4
- 0.0.5
- 0.0.6
- 0.0.7
- 0.0.8
- 0.0.9

## 获取地址

- npm 安装：`npm install vc-verification`
- npm registry：https://registry.npmjs.org/vc-verification
