# xrm_license_verification

> 标签: JavaScript

## 简介

My TypeScript library that imports jQuery

## 官网

- npm 页面：https://www.npmjs.com/package/xrm_license_verification

## 历史版本号

- 当前版本：1.0.3

- 1.0.0
- 1.0.1
- 1.0.2
- 1.0.3

## 获取地址

- npm 安装：`npm install xrm_license_verification`
- npm registry：https://registry.npmjs.org/xrm_license_verification
