# @nestify/verification

> 标签: JavaScript

## 简介

Nestify verification module

## 官网

- 官网：https://github.com/ZhiXiao-Lin/nestify#readme
- 源码仓库：git+https://github.com/ZhiXiao-Lin/nestify.git
- npm 页面：https://www.npmjs.com/package/@nestify/verification

## 历史版本号

- 当前版本：0.3.10

- 0.3.10
- 0.3.8

## 获取地址

- npm 安装：`npm install @nestify/verification`
- npm registry：https://registry.npmjs.org/@nestify/verification
