# @continuit/testreport

> 标签: badge, coverage, junit, lcov, report, test, testreport

## 简介

Generates a test report and badges from your test and coverage results. Allows checking the report in your CI pipeline.

## 官网

- 官网：https://github.com/ContinuIT-nl/testreport#readme
- 源码仓库：git+https://github.com/ContinuIT-nl/testreport.git
- npm 页面：https://www.npmjs.com/package/@continuit/testreport

## 历史版本号

- 当前版本：0.1.3

- 0.1.0
- 0.1.1
- 0.1.2
- 0.1.3

## 获取地址

- npm 安装：`npm install @continuit/testreport`
- npm registry：https://registry.npmjs.org/@continuit/testreport
