# ogp-consultation-verification

> 标签: auth, authentication, email, mongodb

## 简介

Confirm that the deployment of a consultation is valid

## 官网

- 官网：https://github.com/Webgardener/ogp-consultation-verification#readme
- 源码仓库：git+https://github.com/Webgardener/ogp-consultation-verification.git
- npm 页面：https://www.npmjs.com/package/ogp-consultation-verification

## 历史版本号

- 当前版本：0.5.0

- 0.1.0
- 0.2.0
- 0.3.0
- 0.4.0
- 0.5.0

## 获取地址

- npm 安装：`npm install ogp-consultation-verification`
- npm registry：https://registry.npmjs.org/ogp-consultation-verification
