# ng-code-verification

> 标签: angular, code, javascript, number, typecript, verification

## 简介

<h1 align="center">Ng Code Verification</h1>

## 官网

- 官网：https://github.com/sergiocardoso/ng-code-verification
- 源码仓库：git+https://github.com/sergiocardoso/ng-code-verification.git
- npm 页面：https://www.npmjs.com/package/ng-code-verification

## 历史版本号

- 当前版本：1.0.2

- 1.0.1
- 1.0.2

## 获取地址

- npm 安装：`npm install ng-code-verification`
- npm registry：https://registry.npmjs.org/ng-code-verification
