# @flarehr/identity-verification

> 标签: JavaScript

## 简介

Identity Verification UI

## 官网

- npm 页面：https://www.npmjs.com/package/@flarehr/identity-verification

## 历史版本号

- 当前版本：0.0.3

- 0.1.35512
- 0.1.35542
- 0.1.35610
- 0.1.35630
- 0.1.35674
- 0.1.35694
- 0.1.35764
- 0.1.36062
- 0.1.36119
- 0.1.36333
- 0.1.36421
- 0.1.36467

## 获取地址

- npm 安装：`npm install @flarehr/identity-verification`
- npm registry：https://registry.npmjs.org/@flarehr/identity-verification
