# vue-puzzle-verification

> 标签: puzzle, verification, vue-puzzle-verification, 拖拽验证, 拼图验证

## 简介

一个纯前端的拖拽图片拼图的验证vue组件，支持大小、形状、图片、偏差、范围的自定义

## 官网

- 官网：https://github.com/Kevin-269581661/vue-puzzle-verification#readme
- 源码仓库：git+https://github.com/Kevin-269581661/vue-puzzle-verification.git
- npm 页面：https://www.npmjs.com/package/vue-puzzle-verification

## 历史版本号

- 当前版本：1.0.2

- 1.0.0
- 1.0.1
- 1.0.2

## 获取地址

- npm 安装：`npm install vue-puzzle-verification`
- npm registry：https://registry.npmjs.org/vue-puzzle-verification
