# @apihub24/email-verification

> 标签: JavaScript

## 简介

A Service that sends Emails and verify it.

## 官网

- npm 页面：https://www.npmjs.com/package/@apihub24/email-verification

## 历史版本号

- 当前版本：1.0.2

- 1.0.0
- 1.0.1
- 1.0.2

## 获取地址

- npm 安装：`npm install @apihub24/email-verification`
- npm registry：https://registry.npmjs.org/@apihub24/email-verification
