# kh_identity_verification

> 标签: JavaScript

## 简介

To_run_tests_transactions_on_our_trial_endpoint_in_postman__Run_in_Postman_https__run_pstmn_io_button_svg_https__www_getpostman_com_run_collection_a58f438d101278e2bc62

## 官网

- npm 页面：https://www.npmjs.com/package/kh_identity_verification

## 历史版本号

- 当前版本：1.0.4

- 1.0.0
- 1.0.0-alpha.0
- 1.0.0-alpha.1
- 1.0.0-alpha.2
- 1.0.0-alpha.3
- 1.0.0-alpha.4
- 1.0.0-alpha.5
- 1.0.2
- 1.0.3
- 1.0.4

## 获取地址

- npm 安装：`npm install kh_identity_verification`
- npm registry：https://registry.npmjs.org/kh_identity_verification
