# react-native-verification

> 标签: Android, IOS, checkOut, react-native, react-native-verification

## 简介

check in react-native

## 官网

- 官网：https://github.com/asyalas/react-native-verification#readme
- 源码仓库：git+https://github.com/asyalas/react-native-verification.git
- npm 页面：https://www.npmjs.com/package/react-native-verification

## 历史版本号

- 当前版本：1.1.0

- 1.0.0
- 1.0.1
- 1.0.2
- 1.0.3
- 1.0.4
- 1.0.5
- 1.0.6
- 1.0.7
- 1.1.0

## 获取地址

- npm 安装：`npm install react-native-verification`
- npm registry：https://registry.npmjs.org/react-native-verification
