# @stackd-solutions/medusa-email-verification

> 标签: ecommerce, email, medusa, medusa-plugin, verification

## 简介

Email verification plugin for Medusa

## 官网

- 官网：https://github.com/StackD-Solutions/medusa-email-verification#readme
- 源码仓库：git+ssh://git@github.com/StackD-Solutions/medusa-email-verification.git
- npm 页面：https://www.npmjs.com/package/@stackd-solutions/medusa-email-verification

## 历史版本号

- 当前版本：0.1.4

- 0.1.2
- 0.1.3
- 0.1.4

## 获取地址

- npm 安装：`npm install @stackd-solutions/medusa-email-verification`
- npm registry：https://registry.npmjs.org/@stackd-solutions/medusa-email-verification
- Node 要求：>=20
