# @mtzfc/player-email-verification

> 标签: JavaScript

## 简介

@mtzfc/player-email-verification - JavaScript library from npm

## 官网

- npm 页面：https://www.npmjs.com/package/@mtzfc/player-email-verification

## 历史版本号

- 当前版本：1.45.2

- 1.45.2

## 获取地址

- npm 安装：`npm install @mtzfc/player-email-verification`
- npm registry：https://registry.npmjs.org/@mtzfc/player-email-verification
