# react-native-android-sms-verification

> 标签: android, react-native

## 简介

rn abstraction of Android Verification API

## 官网

- 官网：https://github.com/wolfgio/react-native-android-sms-verification#readme
- 源码仓库：git+https://github.com/wolfgio/react-native-android-sms-verification.git
- npm 页面：https://www.npmjs.com/package/react-native-android-sms-verification

## 历史版本号

- 当前版本：2.0.8

- 1.0.0
- 1.0.1
- 1.0.2
- 2.0.0
- 2.0.2
- 2.0.3
- 2.0.4
- 2.0.5
- 2.0.6
- 2.0.7
- 2.0.8

## 获取地址

- npm 安装：`npm install react-native-android-sms-verification`
- npm registry：https://registry.npmjs.org/react-native-android-sms-verification
