# @azure-tools/communication-domain-verification

> 标签: azure, cloud, direct, domain, node, routing, sip, typescript, verification

## 简介

SDK for Azure Communication Domain Verification

## 官网

- 官网：https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/communication/communication-domain-verification/README.md
- 源码仓库：git+https://github.com/Azure/azure-sdk-for-js.git
- npm 页面：https://www.npmjs.com/package/@azure-tools/communication-domain-verification

## 历史版本号

- 当前版本：1.0.0-alpha.20230309.2

- 1.0.0-alpha.20230309.2
- 1.0.0-alpha.20230310.1

## 获取地址

- npm 安装：`npm install @azure-tools/communication-domain-verification`
- npm registry：https://registry.npmjs.org/@azure-tools/communication-domain-verification
- Node 要求：>=14.0.0
