# blackstone-infomatics-license-verification

> 标签: JavaScript

## 简介

This library was generated with [Nx](https://nx.dev).

## 官网

- npm 页面：https://www.npmjs.com/package/blackstone-infomatics-license-verification

## 历史版本号

- 当前版本：0.0.7

- 0.0.7

## 获取地址

- npm 安装：`npm install blackstone-infomatics-license-verification`
- npm registry：https://registry.npmjs.org/blackstone-infomatics-license-verification
