# nuxt-document-verification

> 标签: certificate, document, document-verification, nuxt, nuxt-module, verification

## 简介

A reusable Nuxt module for document verification

## 官网

- 官网：https://github.com/BJTheCod3r/nuxt-document-verification#readme
- 源码仓库：git+https://github.com/BJTheCod3r/nuxt-document-verification.git
- npm 页面：https://www.npmjs.com/package/nuxt-document-verification

## 历史版本号

- 当前版本：0.1.0

- 0.1.0

## 获取地址

- npm 安装：`npm install nuxt-document-verification`
- npm registry：https://registry.npmjs.org/nuxt-document-verification
