# @proof-media/customer-verification

> 标签: JavaScript

## 简介

React.js components to support Customer Verification.

## 官网

- npm 页面：https://www.npmjs.com/package/@proof-media/customer-verification

## 历史版本号

- 当前版本：1.0.16

- 1.0.12
- 1.0.14
- 1.0.15
- 1.0.16

## 获取地址

- npm 安装：`npm install @proof-media/customer-verification`
- npm registry：https://registry.npmjs.org/@proof-media/customer-verification
