# @certifaction/verification

> 标签: JavaScript

## 简介

The verification tool of certifaction.io verifies the authenticity of documents against an Ethereum smart contract.

## 官网

- 官网：https://github.com/certifaction/verification#readme
- 源码仓库：git+https://github.com/certifaction/verification.git
- npm 页面：https://www.npmjs.com/package/@certifaction/verification

## 历史版本号

- 当前版本：1.1.3

- 1.0.0
- 1.0.1
- 1.0.2-alpha.0
- 1.0.3-alpha.0
- 1.0.4-alpha.0
- 1.1.0
- 1.1.0-alpha.1
- 1.1.0-alpha.2
- 1.1.0-alpha.3
- 1.1.1
- 1.1.2
- 1.1.3

## 获取地址

- npm 安装：`npm install @certifaction/verification`
- npm registry：https://registry.npmjs.org/@certifaction/verification
