# agecookie-verification

> 标签: CSS, HTML, JavaScript

## 简介

AgeCookie-Verification

## 官网

- 官网：https://github.com/janee-doee/AgeCookie-Verification#readme
- 源码仓库：git+https://github.com/janee-doee/AgeCookie-Verification.git
- npm 页面：https://www.npmjs.com/package/agecookie-verification

## 历史版本号

- 当前版本：1.0.0

- 1.0.0

## 获取地址

- npm 安装：`npm install agecookie-verification`
- npm registry：https://registry.npmjs.org/agecookie-verification
