# @statoscope/stats-extension-stats-validation-result

> 标签: JavaScript

## 简介

Statoscope extension that collects stats validation result

## 官网

- 官网：https://github.com/statoscope/statoscope/
- 源码仓库：git+https://github.com/statoscope/statoscope.git
- npm 页面：https://www.npmjs.com/package/@statoscope/stats-extension-stats-validation-result

## 历史版本号

- 当前版本：5.28.1

- 5.22.0
- 5.23.0
- 5.24.0
- 5.25.0
- 5.25.0-alpha.0
- 5.27.0
- 5.28.0
- 5.28.1
- 5.7.0
- 5.7.0-alpha.0
- 5.7.1
- 5.9.0

## 获取地址

- npm 安装：`npm install @statoscope/stats-extension-stats-validation-result`
- npm registry：https://registry.npmjs.org/@statoscope/stats-extension-stats-validation-result
