# @telegramium/grammy-channel-verification

> 标签: bot, channel, flyer, grammy, subgram, subscription, telegram, verification

## 简介

Channel verification for grammY Telegram bots. Supports different task types and caching. Built-in Flyer and SubGram API support.

## 官网

- 官网：https://github.com/telegramium/grammy-channel-verification#readme
- 源码仓库：git+https://github.com/Telegramium/grammy-channel-verification.git
- npm 页面：https://www.npmjs.com/package/@telegramium/grammy-channel-verification

## 历史版本号

- 当前版本：1.1.4

- 1.0.1
- 1.0.10
- 1.0.5
- 1.0.6
- 1.0.7
- 1.0.8
- 1.0.9
- 1.1.0
- 1.1.1
- 1.1.2
- 1.1.3
- 1.1.4

## 获取地址

- npm 安装：`npm install @telegramium/grammy-channel-verification`
- npm registry：https://registry.npmjs.org/@telegramium/grammy-channel-verification
