# @hinaalvi/guest-verification

> 标签: JavaScript

## 简介

This project will verify if user's entered name is present in today invited guest

## 官网

- npm 页面：https://www.npmjs.com/package/@hinaalvi/guest-verification

## 历史版本号

- 当前版本：1.0.0

- 1.0.0

## 获取地址

- npm 安装：`npm install @hinaalvi/guest-verification`
- npm registry：https://registry.npmjs.org/@hinaalvi/guest-verification
