# release-verification

> 标签: integrity, release, verification, vulnerability

## 简介

verify released packages match github

## 官网

- 官网：https://github.com/appoptics/release-verification#readme
- 源码仓库：git+https://github.com/appoptics/release-verification.git
- npm 页面：https://www.npmjs.com/package/release-verification

## 历史版本号

- 当前版本：3.1.0

- 1.0.0
- 1.0.1
- 2.0.0
- 3.0.0
- 3.0.1
- 3.1.0

## 获取地址

- npm 安装：`npm install release-verification`
- npm registry：https://registry.npmjs.org/release-verification
