# otp-verification

> 标签: angular, otp, otp-verification

## 简介

OTP verification implementation for faster integration

## 官网

- 官网：https://github.com/akhilmohanan/angular-otpVerification#readme
- 源码仓库：git+https://github.com/akhilmohanan/angular-otpVerification.git
- npm 页面：https://www.npmjs.com/package/otp-verification

## 历史版本号

- 当前版本：1.1.2

- 1.0.1
- 1.0.10
- 1.0.2
- 1.0.4
- 1.0.5
- 1.0.6
- 1.0.7
- 1.0.8
- 1.0.9
- 1.1.0
- 1.1.1
- 1.1.2

## 获取地址

- npm 安装：`npm install otp-verification`
- npm registry：https://registry.npmjs.org/otp-verification
