# @tmatic/metrics-api-typescript-sdk-app-verification

> 标签: @tmatic/metrics-api-typescript-sdk-app-verification, typescript

## 简介

SDK for Metrics API

## 官网

- 官网：https://github.com/blueprint-application/metrics-api-typescript-sdk#readme
- 源码仓库：git+https://github.com/blueprint-application/metrics-api-typescript-sdk.git
- npm 页面：https://www.npmjs.com/package/@tmatic/metrics-api-typescript-sdk-app-verification

## 历史版本号

- 当前版本：1.0.1

- 1.0.1

## 获取地址

- npm 安装：`npm install @tmatic/metrics-api-typescript-sdk-app-verification`
- npm registry：https://registry.npmjs.org/@tmatic/metrics-api-typescript-sdk-app-verification
