# @daosign/verification

> 标签: JavaScript

## 简介

DAOsign verification library

## 官网

- 源码仓库：https://github.com/DAOsign
- npm 页面：https://www.npmjs.com/package/@daosign/verification

## 历史版本号

- 当前版本：0.1.2

- 0.1.1
- 0.1.2

## 获取地址

- npm 安装：`npm install @daosign/verification`
- npm registry：https://registry.npmjs.org/@daosign/verification
