# passport-email-verification

> 标签: auth, authentication, authn, local, passport, password, username

## 简介

Email verification strategy for Passport.

## 官网

- 官网：https://github.com/eiriklv/passport-local
- 源码仓库：git@github.com:eiriklv/passport-local.git
- npm 页面：https://www.npmjs.com/package/passport-email-verification

## 历史版本号

- 当前版本：1.0.3

- 1.0.0
- 1.0.1
- 1.0.2
- 1.0.3

## 获取地址

- npm 安装：`npm install passport-email-verification`
- npm registry：https://registry.npmjs.org/passport-email-verification
- Node 要求：>= 0.4.0
