# capacitor-sms-verification

> 标签: capacitor, native, plugin

## 简介

Read SMS with OTP for verification purpose sent by server

## 官网

- 官网：https://github.com/iqomp/capacitor-sms-verification#readme
- 源码仓库：git+https://github.com/iqomp/capacitor-sms-verification.git
- npm 页面：https://www.npmjs.com/package/capacitor-sms-verification

## 历史版本号

- 当前版本：0.0.1

- 0.0.1

## 获取地址

- npm 安装：`npm install capacitor-sms-verification`
- npm registry：https://registry.npmjs.org/capacitor-sms-verification
