# test-run

> 标签: JavaScript

## 简介

Yet another JavaScript testing platform, running on Joose3 + bridge to ExtJS

## 官网

- 官网：http://github.com/SamuraiJack/test.run/tree
- 源码仓库：git://github.com/SamuraiJack/test.run.git
- npm 页面：https://www.npmjs.com/package/test-run

## 历史版本号

- 当前版本：0.19.0

- 0.11.0
- 0.12.0
- 0.14.0
- 0.15.0
- 0.16.0
- 0.17.0
- 0.18.0
- 0.19.0

## 获取地址

- npm 安装：`npm install test-run`
- npm registry：https://registry.npmjs.org/test-run
- Node 要求：*
