# @bubltec/mycota-professional-verification

> 标签: JavaScript

## 简介

@bubltec/mycota-professional-verification - JavaScript library from npm

## 官网

- 源码仓库：https://github.com/bubltec/mycota
- npm 页面：https://www.npmjs.com/package/@bubltec/mycota-professional-verification

## 历史版本号

- 当前版本：1.7.0

- 0.6.0
- 1.0.0
- 1.0.1
- 1.1.0
- 1.2.0
- 1.3.0
- 1.4.0
- 1.5.0
- 1.6.0
- 1.6.1
- 1.6.2
- 1.7.0

## 获取地址

- npm 安装：`npm install @bubltec/mycota-professional-verification`
- npm registry：https://registry.npmjs.org/@bubltec/mycota-professional-verification
