# tc-id-verification

> 标签: id, tc, tckimlik, turkey, turkiye

## 简介

R.O.T. ID Verification with SOAP Client

## 官网

- 官网：https://github.com/afulsamet/tc-id-verification#readme
- 源码仓库：git+https://github.com/afulsamet/tc-id-verification.git
- npm 页面：https://www.npmjs.com/package/tc-id-verification

## 历史版本号

- 当前版本：1.0.2

- 1.0.0
- 1.0.1
- 1.0.2

## 获取地址

- npm 安装：`npm install tc-id-verification`
- npm registry：https://registry.npmjs.org/tc-id-verification
