# kiran_wahid_02_cli_guests_verification

> 标签: JavaScript

## 简介

This Project Is Cli Base Guests Verification

## 官网

- npm 页面：https://www.npmjs.com/package/kiran_wahid_02_cli_guests_verification

## 历史版本号

- 当前版本：1.0.1

- 1.0.1

## 获取地址

- npm 安装：`npm install kiran_wahid_02_cli_guests_verification`
- npm registry：https://registry.npmjs.org/kiran_wahid_02_cli_guests_verification
