# protractor-build-verification-testreport

> 标签: Build verification test, Protractor, Screenshot

## 简介

A Node.js module used to generate readability HTML test report based on Protractor environment

## 官网

- 官网：https://github.com/vorachet/protractor-build-verification-testreport#readme
- 源码仓库：git+https://github.com/vorachet/protractor-build-verification-testreport.git
- npm 页面：https://www.npmjs.com/package/protractor-build-verification-testreport

## 历史版本号

- 当前版本：0.0.9

- 0.0.1
- 0.0.2
- 0.0.3
- 0.0.4
- 0.0.5
- 0.0.6
- 0.0.7
- 0.0.8
- 0.0.9

## 获取地址

- npm 安装：`npm install protractor-build-verification-testreport`
- npm registry：https://registry.npmjs.org/protractor-build-verification-testreport
