# @ymxjs/ymx-aliyun-verification

> 标签: ymx, ymx-aliyun-verification, ymxjs

## 简介

TypeScript definitions for ymx plugin ymx-aliyun-verification

## 官网

- 官网：https://zsite.cc/market/ymx-aliyun-verification
- npm 页面：https://www.npmjs.com/package/@ymxjs/ymx-aliyun-verification

## 历史版本号

- 当前版本：1.0.0

- 1.0.0

## 获取地址

- npm 安装：`npm install @ymxjs/ymx-aliyun-verification`
- npm registry：https://registry.npmjs.org/@ymxjs/ymx-aliyun-verification
