# @blockchain-lab-um/extended-verification

> 标签: JavaScript

## 简介

Library contains functions for extended verification of the verifiable credentials and presentations.

## 官网

- 官网：https://github.com/blockchain-lab-um/masca#readme
- 源码仓库：git+https://github.com/blockchain-lab-um/masca.git
- npm 页面：https://www.npmjs.com/package/@blockchain-lab-um/extended-verification

## 历史版本号

- 当前版本：0.3.0

- 0.1.1
- 0.1.1-beta.0
- 0.1.1-beta.1
- 0.1.1-beta.2
- 0.1.2
- 0.1.2-beta.0
- 0.2.0
- 0.2.0-beta.0
- 0.2.0-beta.1
- 0.2.0-beta.2
- 0.3.0
- 0.3.0-beta.0

## 获取地址

- npm 安装：`npm install @blockchain-lab-um/extended-verification`
- npm registry：https://registry.npmjs.org/@blockchain-lab-um/extended-verification
