# react-native-sinch-verification

> 标签: react-native, sinch

## 简介

Sinch verification for react native

## 官网

- 官网：https://github.com/kevinresol/react-native-sinch-verification#readme
- 源码仓库：git+https://github.com/kevinresol/react-native-sinch-verification.git
- npm 页面：https://www.npmjs.com/package/react-native-sinch-verification

## 历史版本号

- 当前版本：0.0.5

- 0.0.1
- 0.0.2
- 0.0.3
- 0.0.4
- 0.0.5

## 获取地址

- npm 安装：`npm install react-native-sinch-verification`
- npm registry：https://registry.npmjs.org/react-native-sinch-verification
