# slo-fiscal-verification

> 标签: FURS, Slovenija, fiscal, register, tax, verification

## 简介

Slovenian fiscal verification module

## 官网

- 官网：https://github.com/Thermidor/Fiscal-verification-of-invoices-for-Slovenia#readme
- 源码仓库：git+https://github.com/Thermidor/Fiscal-verification-of-invoices-for-Slovenia.git
- npm 页面：https://www.npmjs.com/package/slo-fiscal-verification

## 历史版本号

- 当前版本：1.0.0

- 1.0.0

## 获取地址

- npm 安装：`npm install slo-fiscal-verification`
- npm registry：https://registry.npmjs.org/slo-fiscal-verification
