# ab-test-result

> 标签: AB-test, statistically significant

## 简介

Returns the improvement rate of your AB-test and answers if it's statistically significant

## 官网

- 官网：https://github.com/debitoor/ab-test-result#readme
- 源码仓库：git+https://github.com/debitoor/ab-test-result.git
- npm 页面：https://www.npmjs.com/package/ab-test-result

## 历史版本号

- 当前版本：1.1.1

- 1.0.1
- 1.0.3
- 1.0.4
- 1.0.5
- 1.1.0
- 1.1.1

## 获取地址

- npm 安装：`npm install ab-test-result`
- npm registry：https://registry.npmjs.org/ab-test-result
