# @sudoplatform/sudo-secure-id-verification

> 标签: JavaScript

## 简介

Sudo Secure ID Verification JS SDK helps developers verify the legal identity of individuals from their personal data and images of government issued documents.

## 官网

- 官网：https://github.com/sudoplatform/sudo-secure-id-verification-js#readme
- 源码仓库：git+https://github.com/sudoplatform/sudo-secure-id-verification-js.git
- npm 页面：https://www.npmjs.com/package/@sudoplatform/sudo-secure-id-verification

## 历史版本号

- 当前版本：13.1.1

- 8.0.0
- 8.0.1
- 8.0.2
- 8.1.0
- 8.2.0
- 8.3.0
- 8.3.1
- 8.3.2
- 8.4.0
- 8.5.0
- 9.0.0
- 9.1.0

## 获取地址

- npm 安装：`npm install @sudoplatform/sudo-secure-id-verification`
- npm registry：https://registry.npmjs.org/@sudoplatform/sudo-secure-id-verification
- Node 要求：>=22
