# consultation-verification

> 标签: auth, authentication, email, mongodb

## 简介

Confirm that the deployment of a consultation is valid

## 官网

- 官网：https://github.com/consultation-gouv/npm.verif.consultation#readme
- 源码仓库：git+https://github.com/consultation-gouv/npm.verif.consultation.git
- npm 页面：https://www.npmjs.com/package/consultation-verification

## 历史版本号

- 当前版本：0.5.0

- 0.5.0

## 获取地址

- npm 安装：`npm install consultation-verification`
- npm registry：https://registry.npmjs.org/consultation-verification
