# psy-test-result

> 标签: JavaScript

## 简介

本插件主要服务于心理测试模块，生成测试结果

## 官网

- npm 页面：https://www.npmjs.com/package/psy-test-result

## 历史版本号

- 当前版本：0.3.4

- 0.2.23
- 0.2.24
- 0.2.3
- 0.2.4
- 0.2.6
- 0.2.7
- 0.2.8
- 0.2.9
- 0.3.1
- 0.3.2
- 0.3.3
- 0.3.4

## 获取地址

- npm 安装：`npm install psy-test-result`
- npm registry：https://registry.npmjs.org/psy-test-result
