# turkiye-identity-verification

> 标签: dogrulama, identity, kimlik, nufus, nvi, tckn, turkey, turkiye, verification, verify, yabanci, ykn

## 简介

Using the Nüfus ve Vatandaşlık İşleri (NVİ), it verifies the information on the Turkish Identity Card.

## 官网

- 官网：https://github.com/karaoglanhk/turkiye-identity-verification#readme
- 源码仓库：git+https://github.com/karaoglanhk/turkiye-identity-verification.git
- npm 页面：https://www.npmjs.com/package/turkiye-identity-verification

## 历史版本号

- 当前版本：1.0.0

- 0.0.1
- 1.0.0

## 获取地址

- npm 安装：`npm install turkiye-identity-verification`
- npm registry：https://registry.npmjs.org/turkiye-identity-verification
