# rtc-test-run

> 标签: WebRTC, WebSockets, developer library, live streaming, live video conferencing, react, react component, react library, real time communication, screen sharing, video, video calls, video conferencing

## 简介

A lightweight React library to set up live streaming and real-time video calls with peers.

## 官网

- 官网：https://github.com/oslabs-beta/RTConnect#readme
- 源码仓库：git+https://github.com/oslabs-beta/RTConnect.git
- npm 页面：https://www.npmjs.com/package/rtc-test-run

## 历史版本号

- 当前版本：0.1.6

- 0.0.61
- 0.0.62
- 0.0.63
- 0.0.64
- 0.0.65
- 0.0.66
- 0.1.1
- 0.1.2
- 0.1.3
- 0.1.4
- 0.1.5
- 0.1.6

## 获取地址

- npm 安装：`npm install rtc-test-run`
- npm registry：https://registry.npmjs.org/rtc-test-run
