# publish-test-results

> 标签: JavaScript

## 简介

publish test stats and reports

## 官网

- 源码仓库：git@github.internal.digitalocean.com:digitalocean/run_cypress_tests_and_publish_results.git
- npm 页面：https://www.npmjs.com/package/publish-test-results

## 历史版本号

- 当前版本：1.0.13

- 1.0.10
- 1.0.11
- 1.0.12
- 1.0.13
- 1.0.2
- 1.0.3
- 1.0.4
- 1.0.5
- 1.0.6
- 1.0.7
- 1.0.8
- 1.0.9

## 获取地址

- npm 安装：`npm install publish-test-results`
- npm registry：https://registry.npmjs.org/publish-test-results
