# rn-sid-address-verification

> 标签: address-verification, android, ios, kyc, react-native, sid

## 简介

A SourceID address verification package for react native

## 官网

- 官网：https://github.com/sourceidtechorg/sid-rn-address-verification#readme
- 源码仓库：git+https://github.com/sourceidtechorg/sid-rn-address-verification.git
- npm 页面：https://www.npmjs.com/package/rn-sid-address-verification

## 历史版本号

- 当前版本：0.6.4

- 0.2.0
- 0.3.0
- 0.4.0
- 0.5.0
- 0.6.0
- 0.6.1
- 0.6.2
- 0.6.3
- 0.6.4

## 获取地址

- npm 安装：`npm install rn-sid-address-verification`
- npm registry：https://registry.npmjs.org/rn-sid-address-verification
