# tc-govermentcardid-verification

> 标签: JavaScript

## 简介

You can Turkiye Goverment Id Verification

## 官网

- npm 页面：https://www.npmjs.com/package/tc-govermentcardid-verification

## 历史版本号

- 当前版本：1.0.0

- 1.0.0

## 获取地址

- npm 安装：`npm install tc-govermentcardid-verification`
- npm registry：https://registry.npmjs.org/tc-govermentcardid-verification
