# captcha-verification

> 标签: captcha, generator, robots, verification

## 简介

this creates a new captcha based upon your configs and help you keep robiots off your website

## 官网

- 官网：https://github.com/kaustubhai/captcha-verification#readme
- 源码仓库：git+https://github.com/kaustubhai/captcha-verification.git
- npm 页面：https://www.npmjs.com/package/captcha-verification

## 历史版本号

- 当前版本：1.1.2

- 1.0.0
- 1.0.1
- 1.1.0
- 1.1.1
- 1.1.2

## 获取地址

- npm 安装：`npm install captcha-verification`
- npm registry：https://registry.npmjs.org/captcha-verification
