# react-native-jiguang-verification

> 标签: JVerification, react-native

## 简介

React Native JVerification component for Android and iOS

## 官网

- 官网：https://github.com/gavin1995/jverification-react-native
- 源码仓库：git+https://github.com/gavin1995/jverification-react-native.git
- npm 页面：https://www.npmjs.com/package/react-native-jiguang-verification

## 历史版本号

- 当前版本：2.4.9

- 2.4.8
- 2.4.9

## 获取地址

- npm 安装：`npm install react-native-jiguang-verification`
- npm registry：https://registry.npmjs.org/react-native-jiguang-verification
