# monoidentity-verification

> 标签: JavaScript

## 简介

monoidentity-verification - JavaScript library from npm

## 官网

- 官网：https://github.com/KTibow/monoidentity
- 源码仓库：git+https://github.com/KTibow/monoidentity.git
- npm 页面：https://www.npmjs.com/package/monoidentity-verification

## 历史版本号

- 当前版本：0.1.4

- 0.1.0
- 0.1.1
- 0.1.2
- 0.1.3
- 0.1.4

## 获取地址

- npm 安装：`npm install monoidentity-verification`
- npm registry：https://registry.npmjs.org/monoidentity-verification
