# @everymatrix/mm-verification-report

> 标签: JavaScript

## 简介

@everymatrix/mm-verification-report - JavaScript library from npm

## 官网

- npm 页面：https://www.npmjs.com/package/@everymatrix/mm-verification-report

## 历史版本号

- 当前版本：1.0.11

- 1.0.11

## 获取地址

- npm 安装：`npm install @everymatrix/mm-verification-report`
- npm registry：https://registry.npmjs.org/@everymatrix/mm-verification-report
