# cashfree-verification

> 标签: axios, cashfree-verification, openapi-client, openapi-generator, typescript

## 简介

Cashfree client for cashfree-verification

## 官网

- 官网：https://github.com/cashfree/cashfree-verification-sdk-nodejs#readme
- 源码仓库：git+https://github.com/cashfree/cashfree-verification-sdk-nodejs.git
- npm 页面：https://www.npmjs.com/package/cashfree-verification

## 历史版本号

- 当前版本：4.0.1

- 1.0.0
- 1.0.1
- 2.0.0
- 3.0.0
- 4.0.0
- 4.0.1

## 获取地址

- npm 安装：`npm install cashfree-verification`
- npm registry：https://registry.npmjs.org/cashfree-verification
