# @bpinternal/signature-verification

> 标签: JavaScript

## 简介

Library to verify the signature of incoming webhook requests

## 官网

- 官网：https://github.com/botpress/packages#readme
- 源码仓库：git+https://github.com/botpress/packages.git
- npm 页面：https://www.npmjs.com/package/@bpinternal/signature-verification

## 历史版本号

- 当前版本：0.2.0

- 0.1.0
- 0.1.1
- 0.2.0

## 获取地址

- npm 安装：`npm install @bpinternal/signature-verification`
- npm registry：https://registry.npmjs.org/@bpinternal/signature-verification
- Node 要求：>=19.0.0
