# split-test-result

> 标签: JavaScript

## 简介

Calculate result of a split test experiment.

## 官网

- 官网：https://github.com/micnews/split-test-result#readme
- 源码仓库：git+https://github.com/micnews/split-test-result.git
- npm 页面：https://www.npmjs.com/package/split-test-result

## 历史版本号

- 当前版本：1.1.1

- 1.0.0
- 1.1.0
- 1.1.1

## 获取地址

- npm 安装：`npm install split-test-result`
- npm registry：https://registry.npmjs.org/split-test-result
