# scandit-capacitor-datacapture-id-aamva-barcode-verification

> 标签: capacitor, native, plugin

## 简介

Scandit Data Capture SDK for Capacitor

## 官网

- 官网：https://github.com/Scandit/scandit-capacitor-datacapture-id-aamva-barcode-verification#readme
- 源码仓库：git+https://github.com/Scandit/scandit-capacitor-datacapture-id-aamva-barcode-verification.git
- npm 页面：https://www.npmjs.com/package/scandit-capacitor-datacapture-id-aamva-barcode-verification

## 历史版本号

- 当前版本：8.6.0

- 8.3.0-beta.1
- 8.3.1
- 8.4.0
- 8.4.0-beta.1
- 8.4.1
- 8.5.0
- 8.5.0-beta.1
- 8.5.1
- 8.5.2
- 8.5.3
- 8.6.0
- 8.6.0-beta.1
- 共 134 个版本，完整清单见 npm registry。

## 获取地址

- npm 安装：`npm install scandit-capacitor-datacapture-id-aamva-barcode-verification`
- npm registry：https://registry.npmjs.org/scandit-capacitor-datacapture-id-aamva-barcode-verification
