# hermione-sequential-tests-run

> 标签: hermione, plugin, sequential

## 简介

Plugin for hermione to run selected tests in sequence

## 官网

- 官网：https://github.com/gemini-testing/hermione-sequential-tests-run#readme
- 源码仓库：git+https://github.com/gemini-testing/hermione-sequential-tests-run.git
- npm 页面：https://www.npmjs.com/package/hermione-sequential-tests-run

## 历史版本号

- 当前版本：0.0.2

- 0.0.2

## 获取地址

- npm 安装：`npm install hermione-sequential-tests-run`
- npm registry：https://registry.npmjs.org/hermione-sequential-tests-run
