# mogy-google-site-verification

> 标签: google-site-verification, mogy-activity

## 简介

Google Site Verification activities for Mogy

## 官网

- 官网：https://github.com/neyric/mogy-google-site-verification
- 源码仓库：http://github.com/neyric/mogy-google-site-verification.git
- npm 页面：https://www.npmjs.com/package/mogy-google-site-verification

## 历史版本号

- 当前版本：0.1.0

- 0.1.0

## 获取地址

- npm 安装：`npm install mogy-google-site-verification`
- npm registry：https://registry.npmjs.org/mogy-google-site-verification
