# vue-slide-verification

> 标签: slide, slider, verification, vue

## 简介

一款简单好用的vue滑块验证组件

## 官网

- 官网：https://github.com/anjorweb/vue-slide-verification#readme
- 源码仓库：git+https://github.com/anjorweb/vue-slide-verification.git
- npm 页面：https://www.npmjs.com/package/vue-slide-verification

## 历史版本号

- 当前版本：1.0.7

- 1.0.0
- 1.0.1
- 1.0.2
- 1.0.3
- 1.0.4
- 1.0.5
- 1.0.6
- 1.0.7

## 获取地址

- npm 安装：`npm install vue-slide-verification`
- npm registry：https://registry.npmjs.org/vue-slide-verification
