# @nilfoundation/evm-placeholder-verification

> 标签: JavaScript

## 简介

=nil; Foundation's Placeholder Proof System In-EVM Verifier

## 官网

- 官网：https://github.com/nilfoundation/evm-placeholder-verification
- 源码仓库：git+https://github.com/nilfoundation/evm-placeholder-verification.git
- npm 页面：https://www.npmjs.com/package/@nilfoundation/evm-placeholder-verification

## 历史版本号

- 当前版本：1.1.2

- 1.0.10
- 1.0.11
- 1.0.12
- 1.0.14
- 1.1.0
- 1.1.1
- 1.1.2

## 获取地址

- npm 安装：`npm install @nilfoundation/evm-placeholder-verification`
- npm registry：https://registry.npmjs.org/@nilfoundation/evm-placeholder-verification
