# swagger-ui-plugin-test-report

> 标签: plugins, swagger-ui

## 简介

Swagger-ui plugin to fetch and display jUnit report to display on each operation.

## 官网

- 官网：https://github.com/BeApp/swagger-ui-plugin-test-report#readme
- 源码仓库：git+https://github.com/BeApp/swagger-ui-plugin-test-report.git
- npm 页面：https://www.npmjs.com/package/swagger-ui-plugin-test-report

## 历史版本号

- 当前版本：1.0.0

- 1.0.0

## 获取地址

- npm 安装：`npm install swagger-ui-plugin-test-report`
- npm registry：https://registry.npmjs.org/swagger-ui-plugin-test-report
