# react-native-firebasephone-verification

> 标签: FirebaseAuth, Phone-Authentication, android, authentication, firebase, react, react-component, react-native

## 简介

React Native Android custom component for firebase phone authentication

## 官网

- 官网：https://github.com/rameshvishnoi90904/react-native-phone-verification#readme
- 源码仓库：git+https://github.com/rameshvishnoi90904/react-native-phone-verification.git
- npm 页面：https://www.npmjs.com/package/react-native-firebasephone-verification

## 历史版本号

- 当前版本：1.0.1

- 1.0.0
- 1.0.1

## 获取地址

- npm 安装：`npm install react-native-firebasephone-verification`
- npm registry：https://registry.npmjs.org/react-native-firebasephone-verification
