# email-verification

> 标签: auth, authentication, email, mongodb

## 简介

Verify email sign-up using MongoDB.

## 官网

- 官网：http://email-verification.xyz/
- 源码仓库：git+https://github.com/whitef0x0/node-email-verification.git
- npm 页面：https://www.npmjs.com/package/email-verification

## 历史版本号

- 当前版本：0.4.6

- 0.1.5
- 0.1.6
- 0.1.7
- 0.1.8
- 0.1.9
- 0.2.0
- 0.3.1
- 0.4.1
- 0.4.2
- 0.4.3
- 0.4.5
- 0.4.6

## 获取地址

- npm 安装：`npm install email-verification`
- npm registry：https://registry.npmjs.org/email-verification
