# @wadackel/storycap-testrun

> 标签: addon, capture, playwright, screenshot, storybook, storybook-addon, storycap, test, testing, visual-testing

## 简介

A utility that provides stable screenshot capture functionality using `@storybook/test-runner`.

## 官网

- 官网：https://github.com/wadackel/storycap-testrun
- 源码仓库：git+https://github.com/wadackel/storycap-testrun.git
- npm 页面：https://www.npmjs.com/package/@wadackel/storycap-testrun

## 历史版本号

- 当前版本：0.0.1

- 0.0.1

## 获取地址

- npm 安装：`npm install @wadackel/storycap-testrun`
- npm registry：https://registry.npmjs.org/@wadackel/storycap-testrun
